a:focus
{
-moz-outline-style: none;
}

body 
{
  background: #eeeeee;
  color: #000000;
  font-family: verdana,arial,helvetica,sans-serif;
  font-size: 13px;
  line-height: 16px;
  margin-top: 20px;
}

a 
{
  color: #333333;
  font-weight: bold;
  text-decoration: none;
}
a:hover 
{
  color: #555555;
  text-decoration: underline;
}

img 
{
  border-width: 0px;
}

h1
{
  font-size: 30px;
}

h2
{ 
  font-size: 20px;
}

strong
{ 
  color: #c10028;
}

.clear
{
	clear:both;
}

.container 
{
  margin: 0px auto;
  width: 950px;
}


#title
{
	height:60px;
  
}

#title .images{
	float:left;
}

#menuOuter
{
	height: 45px;
	background-color: #000;
}

#menuIn ul
{
	float:left;
}

#menuIn ul
{
	list-style:none;	
	height: 30px;
	display:block;
	margin:0px;
	margin-top:5px;
	margin-left:10px;
	padding:0px;
}

#menuIn li
{
	margin-top:10px;
	float:left;

}

#menuIn li:hover
{
	/* background-color:#E4E4E4 */
}

#menuIn li a
{
	color: orange;
	border-right: 1px solid #333; 
	padding:8px 20px;
}


#menuIn li a:hover
{
	color: #FB5;
	background-color: #000;
}

.content
{
  margin-top:2px;
  text-align:justify;
  padding: 20px 30px;
  background: #ffffff;
  border: 1px solid #bbbbbb;
  min-height: 500px;
}

.content form input
{
  background: #f8f8f8;
  border: 1px solid #bbbbbb;
  margin: 2px;
}
.content form textarea
{
  background: #f8f8f8;
  border: 1px solid #bbbbbb;
  margin: 2px;
}

.left
{
	width: 670px;
	float: left;
}

.right
{
	width: 250px;
	float: right;
}

.submit
{ 
  font-size: 14px; 
  font-weight: bold; 
  padding: 2px 5px 2px 5px; 
  border: 2px solid #aaaaaa;
}
.submit:hover
{
  cursor: pointer;
  border: 1px solid #777777;
}

.naslov{
	background: url(images/img_title.png) right no-repeat;
	font-family:System, sans-serif ;
	text-align: left;
	float:right;
	width: 600px;
	height: 60px;
}

.naslov h1{
	margin-top: 20px;
	margin-bottom: 0px;
	margin-left: 170px;
	padding: 0px;
	color: #FFB938;
}


.jezik{
	float: right;
	width: 100px;
	height: 10px;
	margin-top:10px;
	margin-right: 10px;
}

.footer
{
  position: relative;
  top: 5px;
  text-align: center;
  margin-bottom: 50px;
}

.footer table{
	width:100%;
}

.footer table .bottom_links{
	width:50%; 
	text-align:right;
}

.clear{
	clear:both;
}

.thumbnail {
	display: inline-block;
	height: 220px;
}
p {
	text-align: justify;
	text-justify: inter-word;
}